# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
*.log
media/
staticfiles/
dump.rdb

# Environment
.env
.env.*

# Celery
celerybeat-schedule
celerybeat-schedule.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db



# Secrets
project_web/workweb/settings.py
